:root {
	--color-orange: #f59e0b;
    --color-red-balance: #CC3300;
    --color-blue-primary: #004279;
    --color-blue-secondary: #0060a7;
    --color-blue-third: #00ade1;
}

.dashboard .flex-row-20 {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.dashboard .flex-col-20 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dashboard .flex-col-5{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dashboard .grid-22 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    width: 100%;
}

.dashboard .checkboxes-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dashboard .grid_600px_340px {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 10px;
}

.dashboard #outerDiv.grid_600px_340px {
    grid-template-columns: fit-content(65%) fit-content(35%);

}


.dashboard .grid_600px_340px > #sellerSideBar {
    display: flex !important;
    width: 100% !important;
}

.dashboard-title {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-dark);
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1.3;
}

.dashboard .sample-form-container {
    display: grid;
    grid-template-rows: repeat(3, fit-content(40%));
    grid-template-columns: 1fr repeat(2, fit-content(40%));
    gap: 13px 5px;
}

.dashboard .sample-form-link {
    font-size: 13px;
    font-weight: 500;
    color: var(--color-primary);
    background: #f0f7ff;
    border: 1px solid #d0e3f7;
    border-radius: 6px;
    text-decoration: none;
    transition: all 0.2s ease;
    padding: 5px;
}

.dashboard .proposal-products {
    padding: 10px;
    background-color: var(--bg-light);
    border: 1px solid var(--border);
    border-radius: 10px;
    width: 100%;
}

.dashboard .proposal-product {
    flex-grow: 1;
}

.dashboard details > summary {
    cursor: pointer;
}

.dashboard #bidGroupVo\.maxLeadsPerWeekDayField:disabled, 
.dashboard #bidGroupVo\.maxLeadsPerWeekendDayField:disabled{
    background-color: var(--bg-light) !important;
    color: var(--color-muted) !important;
}

.dashboard .proposal-settings-amt-dt{
    position: unset !important;
    left: 0;
    margin-bottom: unset;
    width: unset
}

.dashboard #Main:has(#buyerSignupFormv22) #FormHeader, 
.dashboard #Main:has([name="publisher_signup_v2_1"]) #FormHeader{
    display: block !important;
}

.dashboard h1.operatorOnly, h2.operatorOnly, h3.operatorOnly, h4.operatorOnly, p.operatorOnly{
    color: var(--color-orange) !important;
}

.dashboard #FormFields .inputGroup label p.operatorOnly{
   color: var(--color-orange) !important; 
}

.dashboard a.btn-primary{
    text-decoration: none;
    background: var(--color-primary);
}

.dashboard a.btn-primary:hover{
    background: var(--color-primary-light);
}

.dashboard .boxContent > ul {
    margin: 1em;
}

/*fix for seller home page*/
.dashboard .wizard-summary .boxContent{
    flex-direction: column;
    align-items: flex-start;
}

/*brand management instructions*/
.dashboard .settings .formSectionContent p.instructions {
    padding: 0 !important;
    margin: 0 !important;
    background: unset !important;
    border-radius: unset !important;
    border: unset !important;
}

.dashboard .advanced{
    border-radius: 1em 1em 0 0 !important;
    background: #009da1 !important;
}

.dashboard .advanced :is(h2, p){
    color: white !important;
}

/*order creation product option radio container*/
.dashboard .radioContainer{
    flex-direction: column;
}
.dashboard #bidRelatedDiv{
    /*display:grid;
    grid-template-columns: 1fr;*/
    min-width: auto !important
}

.dashboard #bidTabs {
    display: grid;
    grid-template-columns: 1fr fit-content(20%);
    gap: 20px;
    width: 65%;
}

.dashboard #howtoLink{
    align-self: center;
    padding-left: 20px;
}

.dashboard #toggleViewSpan{
    margin: 10px !important;
    align-self: center;
}

.dashboard #outerDiv{
    margin: unset !important;
}

.dashboard #filtersContainer .radioGroup.filter > div {
    display: block !important;
}

/*Header colors for cards*/
.dashboard .roundedBox .hdr,
.dashboard .roundedBox div.sectionHeader,
.dashboard .roundedBox2 div.sectionHeader,
.dashboard .roundedBox3 div.sectionHeader,
.dashboard .roundedBox4 div.sectionHeader,
.dashboard div.confirmationSectionHeader,
.dashboard #formContainer .roundedBox .hdr,
.dashboard .reportListWrapper .roundedBox .hdr,
.dashboard .settings .roundedBox .sectionHeader,
.dashboard thead,
.dashboard tr.actions,
.dashboard td.paginationTop {
    background: var(--bg-info) !important;
    color: var(--color-primary) !important;
}

.dashboard div.operatorOnly, span.operatorOnly, div.sectionHeader.operatorOnly .operatorOnly,
.dashboard div.operatorOnly, span.operatorOnly, div.sectionHeader.operatorOnly{
    background: var(--color-orange) !important;
    color: white !important;
}

.dashboard .inputGroup .mainLabelContent label span.operatorOnly{
    color: var(--color-orange) !important;
    background: none !important;
}

/********************************/

/* tabs colors */
.dashboard #bidgridTabs {
    color: var(--color-primary) !important;
    border-radius: 0 !important;
}

.dashboard #bidgridTabs li a {
    color: var(--color-white) !important;
    background: unset !important;
}
.dashboard #bidgridTabs li:has(a.current){
    background: var(--color-orange) !important;
}
.dashboard #bidgridTabs li:hover{
    background: var(--bg-light) !important;
    color: var(--color-primary) !important;
}
.dashboard #bidgridTabs li a:hover {
    color: unset !important;
    background-color: unset !important;
 }
.dashboard #bidgridTabs li a.current{
    padding: 0 !important;
    margin: 14px 32px !important;
    background: unset !important;
    text-decoration: none !important;
    border-bottom: unset !important;
    color: var(--color-white) !important;
}

.dashboard #bidgridTabs li{
    border: solid 1px;
    background: var(--color-primary);
    border-radius: 1em 1em 0 0;
}

/*********************************/
.dashboard .roundedBox,
.dashboard .roundedBox2,
.dashboard .roundedBox3,
.dashboard .roundedBox4,
.dashboard div.roundedBox,
.dashboard div.roundedBox2,
.dashboard div.roundedBox3,
.dashboard div.roundedBox4 {
    box-shadow: 0 20px 40px -20px rgba(0, 0, 0, 0.15) !important;
}
/**********************************/

.dashboard #bidgridTabs h2 span:first-child,
.dashboard #bidgridTabs h2 {
    color: #f0f7ff !important;
}

.dashboard .sample-form-link:hover {
    background: #e0efff;
    border-color: var(--color-primary);
    color: var(--color-primary-light);
}

@media (min-width: 600px) {
    .dashboard .grid-22 {
        width: 100%;
    }
}

.dashboard .row-card-hidden {
	display: none;
}
.dashboard .channels table.nestedListTable.ordersTable tbody tr td .oliDiv {
	align-items: flex-start !important;
}
.dashboard .ordersTable tbody td .oliDiv {
	flex-wrap: nowrap !important;
}
@media (max-width: 768px) {
	.dashboard .ordersTable tbody tr td.nowrap {
		flex-direction: row !important;
	}
	.dashboard .ordersTable tbody tr td .oliDiv {
		flex-direction: row !important;
	}
	
	.dashboard .deliveriesTable.dynamicTable tbody tr td:nth-child(1)::before {
        content: "PRODUCT";
    }

    .dashboard .deliveriesTable.dynamicTable tbody tr td:nth-child(2)::before {
        content: "ID";
    }

    .dashboard .deliveriesTable.dynamicTable tbody tr td:nth-child(3)::before {
        content: "NAME";
    }

    .dashboard .deliveriesTable.dynamicTable tbody tr td:nth-child(4)::before {
        content: "REAL TIME/BATCH";
    }

    .dashboard .deliveriesTable.dynamicTable tbody tr td:nth-child(5)::before {
        content: "METHOD";
    }
	
	.dashboard .deliveriesTable.dynamicTable tbody tr td:nth-child(6)::before {
        content: "BRAND";
    }

	.dashboard #leadChannelsListTable tbody tr td:nth-child(1)::before {
        content: "ID";
    }

    .dashboard #leadChannelsListTable tbody tr td:nth-child(2)::before {
        content: "Name";
    }

    .dashboard #leadChannelsListTable tbody tr td:nth-child(3)::before {
        content: "Consumer Brand";
    }

    .dashboard #leadChannelsListTable tbody tr td:nth-child(4)::before {
        content: "Status";
    }

    .dashboard #leadChannelsListTable tbody tr td:nth-child(5)::before {
        content: "Lead Category";
    }
	
	.dashboard #leadChannelsListTable tbody tr td:nth-child(6)::before {
        content: "Delivery Method";
    }

    .dashboard #leadChannelsListTable tbody tr td:nth-child(7)::before {
        content: "Lead Class";
    }

    .dashboard .grid_600px_340px{
        grid-template-columns: auto !important;
    }

    .dashboard #bidTabs{
        display:block;
        width: 100%;
    }

    .dashboard #settingsContainer .inputGroup .mainLabel{
        flex: unset !important;
    }
  
    .dashboard #proposalsTable #proposalsSearchBar,
    .dashboard #ordersTable #orderSearchBar{
        display: flex !important;
    }

    .dashboard table tbody, .dashboard table thead#price-grid-head {
        display: contents;
        width: 100%;
    }

    .dashboard #ordersTable tbody tr td:nth-child(1)::before {
        content: "NAME (ORDER ID)";
    }

    .dashboard #ordersTable tbody tr td:nth-child(2)::before {
        content: "ACTIONS";
    }

    .dashboard #ordersTable tbody tr td:nth-child(3)::before {
        content: "PRODUCT";
    }

    .dashboard #ordersTable tbody tr td:nth-child(4)::before {
        content: "STATUS";
    }

    .dashboard #ordersTable tbody tr td:nth-child(5)::before {
        content: "CHANGE NOTICE";
    }
	
	.dashboard #ordersTable tbody tr td:nth-child(6)::before {
        content: "WEEKDAY LEAD LIMIT";
    }

    .dashboard #ordersTable tbody tr td:nth-child(7)::before {
        content: "WEEKEND LEAD LIMIT";
    }

    .dashboard #ordersTable tbody tr td:nth-child(8)::before {
        content: "LEADS TODAY";
    }

    .dashboard .channels table.nestedListTable tbody tr td:nth-child(2) a:is(.copy-link,.edit-link){
        width: auto !important;
    }

    .dashboard #testLeadsTable tbody tr td:nth-child(1)::before {
        content: "LEAD ID";
        color: var(--color-white) !important;
    }

    .dashboard #testLeadsTable tbody tr td:nth-child(2)::before {
        content: "PRODUCT";
    }

    .dashboard #testLeadsTable tbody tr td:nth-child(3)::before {
        content: "E-MAIL";
    }

    .dashboard #testLeadsTable tbody tr td:nth-child(4)::before {
        content: "TIME";
    }

    .dashboard #testLeadsTable tbody tr td:nth-child(5)::before {
        content: "STATUS";
    }

    .dashboard #pgpKeyTable tbody tr td:nth-child(1)::before {
        content: "KEY NAME";
    }

    .dashboard #pgpKeyTable tbody tr td:nth-child(2)::before {
        content: "STATUS";
    }

    .dashboard #pgpKeyTable tbody tr td:nth-child(3)::before {
        content: "DATE";
    }

    .dashboard #pgpKeyTable tbody tr td:nth-child(4)::before {
        content: "ACTIONS";
    }
    
    .dashboard #proposalsTable tbody tr td:nth-child(1)::before {
        content: "Name (Order ID-Version)";
    }

    .dashboard #proposalsTable tbody tr td:nth-child(2)::before {
        content: "TO/FROM";
    }

    .dashboard #proposalsTable tbody tr td:nth-child(3)::before {
        content: "PRODUCT";
    }

    .dashboard #proposalsTable tbody tr td:nth-child(4)::before {
        content: "STATUS";
    }

    .dashboard #proposalsTable tbody tr td:nth-child(5)::before {
        content: "PROPOSED ON";
    }
    
    .dashboard #proposalsTable tbody tr td:nth-child(6)::before {
        content: "ACCEPT BY DATE";
    }

    .dashboard #proposalsTable tbody tr td:nth-child(7)::before {
        content: "START DATE";
    }


    .dashboard .dynamicTable thead tr.actions td.paginationTop .buttonGroup,
    .dashboard .ordersTable thead tr.actions td.paginationTop .buttonGroup {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 100;
        padding: 0 !important;
        width: auto !important;
    }

    .dashboard #formContainer{
        padding: 5px;
    }

    .dashboard .reports .filter{
        flex-direction: column;
    }

    .dashboard #searchFieldDiv{
    max-width: unset !important;
    }

    .dashboard #customFieldsTrackingOptionContainer.flex-row-20{
        flex-direction: column;
    }

    .dashboard .weekly-radio-dropdown select{
        flex: unset !important;
    }
}

@media (max-width: 1024px) {
    .dashboard #leadStoreSearchFields,
    .dashboard .grid_200px_n > .secondary {
        width: 100%;
        order: -1;
    }
}

.dashboard .formSectionContent .optionsContent {
    display: flex !important;
    flex-direction: column;
    align-items: start !important;
}

.dashboard .options {
    flex: 0 1 auto !important;
}

.dashboard .plainText {
	padding-right: 5px;
	display:flex;
	align-items: center;
}

.dashboard .checkboxes.grid3,
.dashboard .radios.grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

.dashboard .checkboxes.grid4,
.dashboard .radios.grid4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

.dashboard div.checkAllNone{
    display: flex;
    justify-content: center;
    padding: 8px 4px;
    gap: 5px;
    font-weight: bold;
}

.dashboard table div.lsPaginationTop,
.dashboard table div.lsPaginationBottom
.dashboard table.leadListTable div.lsPaginationTop,
.dashboard table.leadListTable div.lsPaginationBottom {
    white-space: nowrap;
    padding: 4px;
    display: flex;
    align-items: center;
}

.dashboard .lsListingTop,
.dashboard .lsListingBottom {
    display: flex;
    justify-content: space-between;
}
.dashboard .lpPaginationInput,
.dashboard .lpPaginationInput #topCartButton,
.dashboard .lpPaginationInput #bottomCartButton,
.dashboard .lpPaginationInput #topCartButton .topNumber,
.dashboard .lpPaginationInput #bottomCartButton .topNumber {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 12px;
    white-space: nowrap;
}

.dashboard select[disabled],
.dashboard select[disabled]:hover,
.dashboard input[disabled],
.dashboard input[disabled]:hover{
    opacity: 0.4 !important;
    cursor: not-allowed !important;
    border-color: var(--color-muted) !important;
    background: var(--lt-color-gray-300) !important;
}

.dashboard .assigned-lead{
    padding: 10px;
    border: 1px solid;
    border-color: var(--border);
    border-radius: 6px;
    width: 150px;
    background: var(--bg-light);
}

.dashboard .channels table.nestedListTable tbody tr td:nth-child(2) a.edit-link::before{
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M15.728 9.686l-1.414-1.414L5 17.586V19h1.414l9.314-9.314zm1.414-1.414l1.414-1.414-1.414-1.414-1.414 1.414 1.414 1.414zM7.242 21H3v-4.243L16.435 3.322a1 1 0 0 1 1.414 0l2.829 2.829a1 1 0 0 1 0 1.414L7.243 21z'/%3E%3C/g%3E%3C/svg%3E") no-repeat center !important;
}

.dashboard .channels table.nestedListTable tbody tr td:nth-child(2) a.copy-link::before{
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%230060a7' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71'/%3E%3Cpath d='M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71'/%3E%3C/svg%3E") no-repeat center !important;
}

.dashboard .xsmallGrey{
    font-size: xx-small;
}

.dashboard #leadStoreWrapper #infoDiv {
    justify-content: end;
    gap: 12px;
    padding: 10px;
}

.dashboard .grid_1_1 > div {
    flex: 1;
}

.dashboard .column1,
.dashboard .column2,
.dashboard .mainContent{
    display: flex;
    gap: 12px;
    flex-direction: column;
}

.dashboard .infoMessage2 {
    padding: 20px;
    margin: unset !important;
    padding-bottom: 20px !important;
    font-weight: bold;
}

.dashboard .boxContent2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 12px 20px !important;
    color: var(--color-dark) !important;
}

.dashboard .boxContent2 label { 
    display: block;
	float: left;
	font-weight: bold
}


.dashboard .tableAcctions :is(.first, .last, .paginationTop){
    padding: 16px;
}

.dashboard .tableAcctionsBottom .buttonGroup {
    justify-content: end;
}

.dashboard .tableAcctionsBottom .buttonGroup .yui-button.yui-submit-button,
.dashboard .tableAcctionsBottom .buttonGroup .yui-button.yui-link-button{
    flex: unset !important;
}

.dashboard .table#activeOrdersList{
    border-radius: unset !important;
}

.dashboard .lowerContainer {
    display: flex  !important;       
}

.dashboard #ccContainer {
    display: flex;
    gap: 12px;
}

.dashboard .outlineContent {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.dashboard .balanceDefault {
    color: var(--color-red-balance);
}

.dashboard #balanceContainer {
    display: flex;
}

.dashboard :is(#topNumber, #bottomNumber, .balanceContainer) {
    display: flex;
    align-items: center;
    gap: 6px;
}

/* delivery default mapping styles */
.dashboard div.mapping-h{
    display: grid;
    grid-template-columns: 50% 50%;
    background: var(--bg-info) !important;
    padding: 12px 16px !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    color: var(--color-gray) !important;
    text-transform: uppercase !important;
    letter-spacing: 0.05em !important;
    background-color: var(--bg-light) !important;
    border: none !important;
    border-bottom: 1px solid var(--border) !important;
    text-align: left !important;
    white-space: nowrap !important;
}

.dashboard details.mapping > summary{
  display: grid;
  grid-template-columns: 50% 50%;
  cursor: default;
  list-style: none;
}

.dashboard details.mapping.plus > summary {
  display: grid;
  grid-template-columns: 2% 48% 50%;
  align-items: center;
  cursor: pointer;
  list-style: none;
}

.dashboard details.mapping.plus > summary::before {
  content: "▶️";
  margin-right: 0.5rem;
}

.dashboard details.mapping.plus[open] > summary::before {
  content: "🔽";
}

.dashboard details.mapping {
  padding: 0.5rem;
}

.dashboard details.mapping.even {
  background-color: rgb(251, 251, 251);
}

.dashboard details.mapping.odd {
  background-color: rgb(255, 255, 255);
}

.dashboard details.mapping>table {
    width: 50%;
    font-size: smaller;
    margin: 10px;
}

.dashboard .actionRequired2-pa {
    font-weight: 600;
    text-align: center;
}

.dashboard .ai-center {
    align-items: center;
}

.dashboard table#accountOverview{
    width: 90% !important;
    margin: 0 auto !important
}

.dashboard .options:has(.width-100pct){
    width: 100% !important;
}

.dashboard .options:has(.width-50pct){
    width: 50% !important;
}

.dashboard .padding-10{
    padding: 10px;
}

.dashboard .pcBody{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/************Menu item selected*************/

.dashboard #MainNavigation li.selected a,
.dashboard #SubNavigation.subtabs li.current a {
        color: var(--color-primary-light) !important;
        background-color: var(--bg-light) !important;
        font-weight: 600 !important;
    }

/************Menu item selected*************/

.dashboard a#agreementLink {
    color: #00ade1 !important;
}

/*     home/leadstore bullets     */
.dashboard ul.leadstore_bullets{
    list-style: inside;
}

.dashboard #accountMgmtContainer{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    margin: 6px;
}

.dashboard #accountMgmtContainer label{
    width: 100%;
}

.dashboard .grid_75_25 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}

.dashboard .submitButton{
    display: flex;
}

/*     order creation date dropdown width     */
.dashboard .proposal-settings-amt-dt:is(#endDateDiv, #startDateDiv) > select{
    width: auto !important;
    min-width: 250px !important;
    max-width: unset !important;
}

.dashboard #filterByState, #filterByZip{
    margin: 5px;
}

/* volume guidance*/
.dashboard #volumeGuidanceBar{
    width: 100% !important;
    float: unset;
    margin-right: 0px !important;
}

.dashboard #volumeGuidanceDiv{
    width: 100% !important;
}

/**** Links underline ****/

.dashboard #MainContent a:not( .buttonGroup a,
                    #settingssubnav a,
                    .pagination a, 
                    th a, 
                    .yui-button a,
                    #bidgridTabs a, 
                    .reportLink2, 
                    .oliDiv .right a,
                    .addLink a,
                    .integration-support a),
.dashboard #reportLink,
.dashboard #sidebar a,
.dashboard tbody td a ,
.dashboard h2 a,
.dashboard .inputGroup a,
.dashboard .linkSpan
{
  color: var(--color-primary) !important;
  text-decoration: underline !important;
  text-decoration-color: var(--color-primary) !important;
  text-decoration-thickness: 1px !important;
  font-weight: 500 !important;
}

.dashboard th a {
    color: var(--color-primary) !important;
    text-decoration: unset !important;
    font-weight: 600 !important;
}

.dashboard th a:hover {
  text-decoration: underline !important;
  text-decoration-color: var(--color-primary) !important;
}

/********/

.dashboard .blueBox img.sidebar,
.dashboard .wizard-integration-details img.sidebar {
        display: block;
        margin: 0 auto 16px;
}

.dashboard .volumeGuidanceDiv{
    position: relative !important;
}

.dashboard #price-grid-head th{
    border: none !important;
    text-wrap-mode: wrap !important;
}

.dashboard table.pricegrid{
    table-layout: fixed;
}

/** Reports **/

.dashboard .filter:is(.flex-col-20, .flex-row-20) .inputGroup{
    padding: 0 !important;
}

.dashboard form.detail .filter:is(.flex-col-20, .flex-row-20){
    align-items: center !important;
}

.dashboard .reports #PrimaryContent > table#report{
    display: contents;
}

.dashboard .reports table#report tbody tr, .dashboard .reports table.reportResults tbody tr{
    display: table-row !important;
}

.dashboard .reports table#report tbody td, .dashboard .reports table.reportResults tbody td{
    display: table-cell !important;
}

.dashboard .reports .filter .inputGroup{
    min-width: unset !important;
    max-width: unset !important;
}

.dashboard .formSectionContent .options{
    width: auto !important;
}

.dashboard table#report td.rptHeaderCenter, table#report td.rptHeaderLeft, table.bodyListing th {
    background: rgb(30, 58, 95);
}

.dashboard .reports table#report.reportResults td.rptDataLeft{
    background-color: unset !important;
    color: var(--color-primary) !important;
}

.dashboard .reports table#report.reportResults td{
    padding: 2px !important;
}

.dashboard .reports>#PrimaryContent{
    display: block;
}

.dashboard .reports .rptHeaderCenter a img, .dashboard .reports .rptHeaderLeft a img, .dashboard .reports .rptHeaderRight a img{
    width: 20px !important;
    height: 20px !important;
}

.product-opts{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px
}


/**   order tracking   **/
.dashboard #settingsContainer .inputGroup .options:is(#httpTrackingOptionContainer, #xmlTrackingOptionContainer, #customTrackingOptionContainer, #noCustomTrackingOptionContainer){
    display: block !important;
}
 
.dashboard #settingsContainer .inputGroup .options.hidden-tracking-option:is(#httpTrackingOptionContainer, #xmlTrackingOptionContainer, #customTrackingOptionContainer, #noCustomTrackingOptionContainer){
    display: none !important;
}

.dashboard #bidoptions select, .dashboard .channels select:is(#xmlOrderTrackingName){
    min-width: unset !important;
    max-width: unset !important;
}

/*** settings custom brand ***/
.dashboard ul.cb-tabs.yui-nav{
    padding-top: 10px;
}

.dashboard ul.cb-tabs.yui-nav > li{
    padding: 10px 20px;
    border-radius: 10px 10px 0 0;
    border: solid 1px var(--color-primary);
    color: var(--color-white) !important;
    background: var(--color-primary);
    margin:0 !important;
}

.dashboard ul.cb-tabs.yui-nav > li:is(.selected){
    background: var(--color-orange)
}

.dashboard ul.cb-tabs.yui-nav > li > a >em{
    color: var(--color-white) !important
}

.dashboard ul.cb-tabs.yui-nav > li:not(.selected):hover{
    background: var(--color-bg-light)
}

.dashboard ul.cb-tabs.yui-nav > li:not(.selected):hover >a >em{
    color: var(--color-primary) !important;
}

.dashboard #searchFieldDiv{
    max-width: 270px;
}

/** Report scheduling **/
.dashboard .weekly-radio-dropdown {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dashboard .weekly-radio-dropdown input[type="radio"] {
  flex: 0 0 auto;
}

.dashboard .weekly-radio-dropdown label {
  flex: 1;
  margin: 0;
  min-width: max-content;
}

.dashboard .weekly-radio-dropdown select {
  flex: 0 0 auto;
  max-width: 150px;
}

/* ========== LEAD CHANNEL DETAIL ========== */
.dashboard .sectionHeader.channelInfo,
.dashboard .sectionHeader.channelSettings {
    display: flex;
    gap: 2px;
    border-bottom: 1px solid var(--border) !important;
    padding: unset !important
}

.dashboard .sectionHeader:is(.channelInfo,.channelSettings) :is(.headerLeft, .headerRight) {
    margin: 0 !important;
    padding: 10px 20px !important;
    border: 1px solid var(--border);
    border-bottom: none;
    border-radius: 8px 8px 0 0 !important;
}

.dashboard .sectionHeader.channelInfo .headerRight,
.dashboard .sectionHeader.channelSettings .headerLeft {
    border-bottom: 1px solid var(--color-white) !important;
    background: var(--color-white);
    position: relative;
    top: 1px;
}

.dashboard .sectionHeader.channelInfo .headerRight {
    border-top: unset !important;
    border-right: unset !important;
}

.dashboard .sectionHeader.channelSettings .headerLeft {
    border-top: unset !important;
    border-left: unset !important;
}

/*** sign up ***/
#FormPageContent .formSectionContent #nextButton{
    margin: 0 15px 15px;
}

.dashboard #Main:has([name="publisher_signup_v2_1"]) .inputGroup:has(.note), .dashboard #Main:has([name="publisher_signup_v2_2"]) .inputGroup:has(.note) {
     display: flex !important
}

.dashboard #Main:has(#buyerSignupFormv22) #FormHeader, .dashboard #Main:has([name="publisher_signup_v2_1"]) #FormHeader, .dashboard #Main:has([name="publisher_signup_v2_2"]) #FormHeader{
    display: block !important;
}

.dashboard .usPhoneNumber {
    display: flex;
    gap: 5px;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.dashboard .usPhoneNumber .phoneExt {
    display: flex;
    gap: 5px;

}
